:root{
	--mainColor:#15202B;
	--ASRfontColor:#f0ead6;

	--colorsettingnote:#f0ead6;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}