:root{
    --mainColor:#eaeaea;
    --ASRfontColor:#24292e;

    --colorsettingnote:#24292e;

    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder:#24292e;

    --previewBg:rgb(251, 249, 243, 0.8);
    --previewShadow:#f0ead6;


    --buttonColor:black;


}
 
html {
  box-sizing: border-box;
  background-color: var(--mainColor);
  text-align: center;
}
 
body {
    font-size: 1em;
    line-height: 1.5;
    font-family: Lucida Grande, sans-serif;
    margin: 0 auto;
    padding: 0;
    color: #4A4A4A;
}
 
img {
    max-width: 100%;
    height: auto;    
}
 
a {
    color: inherit;
}

/*
    Header Styles
*/
.header {
    margin: 1em 0 2em;
}
 
    .header h1 {
        font-family: 'Pacifico', serif;
        text-shadow: 0 8px 8px rgba(0, 0, 0, .3);
        margin: 210px 0px -10px 0px;
        color: var(--ASRfontColor);
    }
    @media screen and (min-width: 0px) {
        div.header h1{
            font-size: 70px;
        }
    }
    @media screen and (max-width: 500px) {
        div.header h1{
            font-size: 50px;
        }
    }
 
       .header h1 a {
            text-decoration: none;
        }
 
    .header p {
        margin-top: center;
        text-indent: center; /* indent slightly */
        text-shadow: 0 1px 0px rgba(0, 0, 0, .15);
        font-size: .875em; /* 14/16 */
    }

/*
    Tombol Styles
*/
.tombol .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .tombol a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 30px;
        font-family: 'Mukta', serif;
    }
    .tombol a span {
        padding: 10px;
        transition: .5s;
        position: relative;
    }
    .tombol a span:nth-child(1) {
        color: #fff;
        background: #262626;
    }
    .tombol a span:nth-child(2) {
        color: #fff;
        background: #ff3636;
    }
    .tombol a span:nth-child(1):before {
        content: attr(data-attr);
        position: absolute;
        top: 0;
        left: 0;
        background: #ff3636;
        padding: 10px;
        transition: 0.5S;
        transform-origin: top;
        transform: rotateX(90deg) translateY(-50%);
    }
    .tombol a:hover span:nth-child(1):before {
        transform: rotateX(0deg) translateY(0%);
    } 
    .tombol a span:nth-child(2):before {
        content: attr(data-attr);
        position: absolute;
        top: 0;
        left: 0;
        background: #262626;
        padding: 10px;
        transition: 0.5S;
        transform-origin: bottom;
        transform: rotateX(90deg) translateY(50%);
    }
    .tombol a:hover span:nth-child(2):before {
        transform: rotateX(0deg) translateY(0%);
    } 
    .tombol a  span:nth-child(1):after {
      content: attr(data-attr);
      padding: 10px;
      position: absolute;
      top: 0;
      left: 0;
      background: #262626;
      transform-origin: bottom;
      transform: rotateX(0deg) translateY(0%);
      transition: 0.5s;
    }
    .tombol a:hover span:nth-child(1):after {
      transform: rotateX(90deg) translateY(50%);
    }
    .tombol a span:nth-child(2):after {
        content: attr(data-attr);
        position: absolute;
        top: 0;
        left: 0;
        background: #ff3636;
        padding: 10px;
        transition: 0.5S;
        transform-origin: top;
        transform: rotateX(0deg) translateY(0%);
    }
    .tombol a:hover span:nth-child(2):after {
        transform: rotateX(90deg) translateY(-50%);
    } 


#theme-options{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;

    margin: 5px;
    border:2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}


.theme-dot:hover{
    border-width: 5px;
}


#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866b;
}

#cream-mode{
    background-color: #FFF4A3;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-top: -15px;
    color: var(--colorsettingnote);
}

#settings-coopyright{
    align-content: center;
    
}
/*
    Font ASR Styles
*/
.font-asr h1 {
        font-family: 'Pacifico', serif;
        font-size: 70px; 
        text-shadow: 0 8px 8px rgba(0, 0, 0, .3);
        margin: 20px 0px -10px 0px;
        color: var(--ASRfontColor);
    }

/*
    Table Styles
*/
.table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    font-size: 0.9em;
    font-family: sans-serif;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
    .table thead tr th {
    background-color: #009879;
    color: white;
    text-align: left;
    }
    .table th,
    .table td {
    padding: 12px 15px;
    }

    .table tbody tr:nth-of-type(odd) {
        background-color: #f3f3f3;
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #D9EEE1;
    }