:root{
	--mainColor:#606B56;
	--ASRfontColor:#F7BD62;

	--colorsettingnote:#F7BD62;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#669966;


}
