<!doctype html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">

        <title>ASR Rest Api</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">

        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static',filename='css/default.css')}}">

        <link id="theme-style" rel="stylesheet" type="text/css" href="">
    </head>

    <body>

        <div class="header">
            <h1>
                <a href="./">ASR Rest Api</a>
            </h1>
        </div>

        <div class="center tombol">
            <a href="https://asr-restapi.herokuapp.com/api"><span data-attr="Cobain">Cobain</span><span data-attr="Yuk">Yuk</span></a>
        </div>

        <div id="theme-options">
            <div data-mode="light" id="light-mode" class="theme-dot"></div>
            <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
            <div data-mode="green" id="green-mode" class="theme-dot"></div>
            <div data-mode="cream" id="cream-mode" class="theme-dot"></div>
        </div>
        <p id="settings-note">*Pengaturan tema akan disimpan<br> untuk kunjungan Anda berikutnya.</p>
        
        <!-- javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/javascript.js"></script>
    </body>

    
</html>
